version: 2
updates:
  - package-ecosystem: "npm"
    directories:
      - "/"
      - "/test/"
    schedule:
      interval: "weekly"
    versioning-strategy: increase-if-necessary
    groups:
      deps:
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"
      include: "scope"
    groups:
      actions:
        patterns:
          - "*"
