name: Build

on:
  push:
    branches: [ main ]
    tags: [ v* ]
  pull_request:

jobs:
  build:
    name: Build (${{ matrix.node-version }}) on ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [ 20.x, 22.x, 24.x, 25.x, lts/* ]
        os: [ ubuntu-latest ]
        include:
          - node-version: lts/*
            os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Test package
        run: pnpm test:all

      - name: Package
        run: pnpm pack

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        if: matrix.node-version == 'lts/*' && matrix.os == 'ubuntu-latest'
        with:
          name: lingui-react-router
          path: lingui-react-router*.tgz
          retention-days: 7

  build-all:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: [ build ]
    steps:
      - run: echo OK

  publish:
    name: Publish
    runs-on: ubuntu-latest
    environment: publish
    needs: build-all
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          registry-url: https://registry.npmjs.org/
          node-version: lts/*

      - name: Update npm
        run: npm install -g npm

      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          name: lingui-react-router

      - name: Publish package
        run: npm publish lingui-react-router*.tgz
